<div class="row">
  <ng-container *ngFor="let product of products; let i = index">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="product.images[0].src" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ product.variants[0].price | currency }}</h6>
          <p class="card-text">{{ product.vendor }}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>

