<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://www.cemex.com/image/layout_set_logo?img_id=35706652&t=1520993042857" /> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#" rel="home-label">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" rel="features-label">Features</a>
      <a class="nav-item nav-link" href="#" rel="pricing-label">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" rel="shoppingcart-label">
        <i class="fa fa-shopping-cart"></i> Shopping Cart
      </a>
    </div>
  </div>
</nav>
